.header{
    position: absolute;
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
    font-size: 20;
    height: 40px;
    border: solid gray 2px;
    text-align: center;
}
.header h2{
    padding: 5px;
    margin: 0;
}